
@{
    ViewBag.Title = "マスターメンテ";
}

<h2>マスターメンテ</h2>
<ul>
    <li>@Html.ActionLink("社員マスター", "Index", "Syains")</li>
    <li>@Html.ActionLink("部署マスター", "Index", "Bushoes")</li>
    <li>@Html.ActionLink("権限マスター", "Index", "Roles")</li>
</ul>

